@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    height: 100svh;
    width: 100%;
    background: hsl(210, 80%, 10%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 1svh;
    column-gap: 1svw;

}


#show_winner{
    height: 20vh;
    width: 80vw;
    background: #483ae0;
    color: hsl(210, 90%, 80%);

    font-size: 5svw;
    font-weight: 600;
}
#random_1,#random_2{
    height: 40svh;
    width: 40svw;
    font-size: 5svw;
    font-weight: 600;
}
.center_text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font_fam{
    font-family: 'Montserrat', sans-serif;
}
.radius{
    border-radius: 1.5svw;
}



button, input[type="submit"], input[type="reset"] {
	background:hsl(210, 90%, 20%) ;
	color: hsl(210, 90%, 80%);
	font: inherit;
	cursor: pointer;
	outline: inherit;

    width: 30svw;
    height: 15svh;

    font-size: 3svw;
    font-weight: 600;
}

.winner{
    background: hsl(120,60%,50%);
    color: hsl(120,90%,90%);
}
.loser{
    background: hsl(0,60%,50%);
    color: hsl(00,90%,90%);
}
.draw{
    background: hsl(120,0%,50%);
    color: hsl(120,00%,90%);
}